:root {
    --celeste1: #8ce7ea;
    --celeste2: #08d3d3;
    --celeste3: #8fdfe0;
    --crema1: #f6f3e9;
    --violeta1: #63496d;
}

.contenedor{
    margin:30px 0 30px 0;
    text-align:center;
    align-content:center;
    justify-content:center;
    align-items:center;
}
#productos ul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fill, [col-start] 180px[col-end]);
    text-align: center;
    row-gap: 20px;
    column-gap: 60px;
    padding:0px;
    justify-content:center;
}
#productos li{
    border: 2px solid black;
    margin:40px 0 40px 0;
}
#productos img {
    height: 100px;
    width: 100px;
}

#productos p{
    margin: 10px 5px 0 0;
}

#productos li:hover {
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
    transform:scale(1.3);
}

#productos li a {
    opacity: 0;
    text-decoration: none;
    transform: scale(0);
    transition: 0.8s;
    font-size: 1.5rem;
    color: white;
}

#productos li:hover a {
    opacity: 1;
    transform: scale(1);
    transition: 0.5s all ease-out;
}

#productos li:hover img {
    transform: scale(1.8);
    transition: 0.5s all ease-out;
}


#productos li:hover p {
    visibility: hidden;
    transition: 0.1s all ease-out;
}

.content-title {
    text-align:center;
    background-color: #343A40;
    color: var(--crema1);
    border-radius: 5px;
}

.content-title, .contact-subtitle {
    color: var(--crema1);
    padding: 2vh 0px;
}

.content-form {
    background-color: WHITE;
    margin: auto;
    padding: 4vh;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
}


.contenedor .trabajos {
    display:flex;
    flex-direction:row;
}

#trabajos {
    display: flex;
    flex-direction: row;
}

.n1 {
    display:flex;
    justify-content:center;
}

.n1 h3{
    margin-top:20px;
    color:var(--violeta1);
}
.n2 p{
    margin-top:20px;
    color:black;
}
.n3 span {
    margin-top: 30px;
    color: black;
    border-radius: 5px;
    border: 1px solid black;
}

.trabajos-card{
    width:33vw;
    text-align:center;
    align-content:center;
    justify-content:center;
    margin:auto;
    border:1px solid grey;
    margin-right:5px;
    border-radius:5px;
}



.trabajos-card a{
    text-decoration:none;
}

.trabajos .trabajos-card:hover {
    box-shadow: 26px 21px 43px 21px rgba(0,0,0,0.79);
    -webkit-box-shadow: 26px 21px 43px 21px rgba(0,0,0,0.79);
    -moz-box-shadow: 26px 21px 43px 21px rgba(0,0,0,0.79);
    z-index: 1000;
    transition: 0.5s all ease-out;
}

.trabajos img:hover {
    transform: scale(1.8);
    transition: 0.5s all ease-out;
}



.envios-capital {
    border: 1px solid grey;
    border-radius:5px;
    margin-bottom: 10px;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.envios-interior {
    border: 1px solid grey;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.envios-capital:hover {
    box-shadow: 26px 21px 43px 21px rgba(0,0,0,0.79);
    -webkit-box-shadow: 26px 21px 43px 21px rgba(0,0,0,0.79);
    -moz-box-shadow: 26px 21px 43px 21px rgba(0,0,0,0.79);
    z-index: 1000;
    transition: 0.5s all ease-out;
}
.envios-interior:hover {
    box-shadow: 26px 21px 43px 21px rgba(0,0,0,0.79);
    -webkit-box-shadow: 26px 21px 43px 21px rgba(0,0,0,0.79);
    -moz-box-shadow: 26px 21px 43px 21px rgba(0,0,0,0.79);
    z-index: 1000;
    transition: 0.5s all ease-out;
}

.envios img {
    margin: 5px;
    border: 1px solid black;
    height: 200px;

}

  /*  .envios img:hover {
        transform: scale(1.5);
        border: none;
        transition: 0.5s all ease-out;
    }*/

.envios-texto{
    text-align:center;
    width:40vh;
}

.envios p {
    font-size: large;
    margin-bottom:10px;
}


.mas-vendidos h1{
   text-align:center;
   margin-bottom:20px;
}

.mas-vendidos .card{
    border-radius:20px;
}
.mas-vendidos .card-img-top{
    height:15vh;
    object-fit:contain;
}

.mas-vendidos .card-img-top:hover {
   cursor: zoom-in;
}

.novedades h1 {
    text-align: center;
    margin-bottom: 20px;
}

.mas-vendidos .card:hover {
    box-shadow: 26px 21px 43px 21px rgba(0,0,0,0.79);
    z-index: 1000;
    transition: 0.5s all ease-out;
    
}

.novedades .card:hover {
    box-shadow: 26px 21px 26px 21px rgba(0,0,0,0.79);
    -webkit-box-shadow: 26px 21px 43px 21px rgba(0,0,0,0.79);
    -moz-box-shadow: 26px 21px 43px 21px rgba(0,0,0,0.79);
    z-index: 1000;
     transition: 0.5s all ease-out;
}

.novedades .content-form {
   
}


.d-block w-100{
    height:35vh;
}


@media screen and (max-width: 600px) {
    .content-title {
        padding: 4vh;
        margin: 0px;
    }

    .section-title {
        font-size: medium;
    }

    .content-form {
        padding: 0vh;
    }

    #productos ul {
        row-gap: 1.5vh;
        column-gap: 6vh;
        grid-template-columns: repeat(auto-fill, [col-start] 7vh[col-end]);
        padding: 0px;
        justify-content: center;
    }

    #productos li {
        margin: 0px;
    }

    #productos img {
        height: 40px;
        width: 40px;
    }

    #productos p {
        font-size: xx-small;
        margin: 0px;
    }

    #productos li a {
        font-size: 0;
    }


    #trabajos {
        flex-direction: column;
    }

    .trabajos-card {
        width: fit-content;
        margin-bottom: 2vh;
    }

    .n1 h3 {
        font-size: x-large;
    }

    .n2 p {
        font-size: small;
    }

    .n3 {
        margin-bottom: 1vh;
    }

    .envios-interior {
        display: block;
    }

    .envios-capital {
        display: block;
    }

    .envios-img {
        text-align: center;
    }

    .envios-texto {
        width: auto;
    }

    .novedades .content-form{
        height:60vh;
    }
    .d-block w-100 {
        height: auto;
    }
} 