#id1:hover {
    background-color: powderblue;
    transition: background-color .5s;
}
#id2:hover {
    background-color: powderblue;
    transition: background-color .5s;
}
#id3:hover {
    background-color: powderblue;
    transition: background-color .5s;
}