:root {
    --celeste1: #8ce7ea;
    --celeste2: #08d3d3;
    --celeste3: #8fdfe0;
    --crema1: #f6f3e9;
    --violeta1: #63496d;
}
body {
    width:100%
}

.cardflex{
}

.searchbar {
    text-align: center;
    margin: auto;
    justify-content: center;
}

.contact-title {
    background-color: #343A40;
    color: var(--crema1);
    text-align: center;
    padding: 1vh;
    border-radius:5px;
}

.contact-form {
    background-color: WHITE;
    margin: auto;
    padding: 1vh;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
}


.card {
    border: 1px solid grey;
    border-radius: 12PX;
    margin: 1vh;
}
    .card:hover {
        box-shadow: 26px 21px 43px 21px rgba(0,0,0,0.79);
        -webkit-box-shadow: 26px 21px 43px 21px rgba(0,0,0,0.79);
        -moz-box-shadow: 26px 21px 43px 21px rgba(0,0,0,0.79);
        z-index: 1000;
    }
        .card-img-top:hover {
        transform: scale(2);
        z-index: 11000;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
        }

.btn btn-dark btn-sm {
    margin: 1vh;
}

.card-img-top {
    height: 100px;
    width:100px;
    margin-top:1vw;
}

.cardflex {
    grid-template-columns: repeat( auto-fill, minmax(20rem, 1fr) )
}

.card-body{
    padding:0.5vh;
}

@media screen and (max-width: 600px) {

    .cardflex {
        grid-template-columns: repeat( auto-fill, minmax(21vh, 2fr) )
    }

    .card {
        
    }

    .card-title {
        font-size: small;
    }
    .card-text {
        font-size: small;
    }
    .btn btn-dark btn-sm{
        font-size: small;
        margin:1vh;
    }


}
    /*box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;*/