:root {
    --celeste1: #8ce7ea;
    --celeste2: #08d3d3;
    --celeste3: #8fdfe0;
    --crema1: #f6f3e9;
    --violeta1: #63496d;
}
body {
    width:100%
}

.cardflex{
    width:80vw;
    margin:auto;
    margin-top:20px;
}

.searchbar {
    text-align: center;
    margin: auto;
    justify-content: center;
}

.card {
    border: inset 1em 1em var(--violeta1);
    border-radius: 30px;
}
    .card:hover {
        box-shadow: var(--celeste1) 0px 0px 0px 3px, var(--crema1) 0px 0px 0px 6px, var(--celeste2) 0px 0px 0px 9px, var(--violeta1) 0px 0px 0px 12px, var(--crema1) 0px 0px 0px 15px;
        transform: scale(1.1);
        z-index: 10000;
    }
        .card-img-top:hover {
        transform: scale(2);
        z-index: 11000;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
        }

/*box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;*/